<div class="home-container">
    <h1>Welcome to Mirval Systems</h1>
    
    <span class="code-text">
        Unleashing Possibilities, One Line of Code at a Time
    </span>

    <span class="code-text-mobile">
        Unleashing Possibilities,
    </span>

    <span class="code-text-mobile">
        One Line of Code at a Time
    </span>

    <button *ngIf="!((user$ | async)?.currentUser?.email)" type="button" class="clean-btn" (click)="goToLoginPage()">Login</button>
    <button *ngIf="!((user$ | async)?.currentUser?.email)" type="button" class="clean-btn" (click)="goToRegisterPage()">Register</button>
</div>