@import './../../mixins';

nav {
    @include width-height(100%, 10%);
    @include basic-flex(flex-end, center);
    @include fixed-container-top();
    @include background-color-fontFamily(#130101ab, white, 'Gill Sans');
    z-index: 999;
    /* make sure it is above other elements */
    ul {
        // background-color: #e03b3b;
        @include width-height(30%, 100%);
        @include basic-flex(flex-end, center);
        @include clear-margin-settings();
        flex-direction: row;

        li {
            @include width-height(100%, 100%);
            @include basic-flex(center, center);
            // background-color: #cb9d9d;
        }

        li:hover {
            cursor: pointer;
            opacity: 0.9;
            background-color: black;
        }
    }
}

// mobile devices
@media screen and (max-width: 767px) {
    nav {
        ul {
            @include width-height(50%, 100%);
        }
    }
}