<!-- <div *ngFor="let user of users">
    <p>{{ user.id }}</p>
    <p>{{ user.name }}</p>
    <p>{{ user.age }}</p>
    <br>
</div> -->

<!-- <div>
    <p>{{currentUser.id}}</p>
    <p>{{currentUser.name}}</p>
    <p>{{currentUser.age}}</p>
</div> -->
<!-- <card *ngFor="let cardImage of cardImages" [title]="'This is a title'" [description]="'This a description'" [cardImage]="cardImage"></card> -->

<!-- <div *ngFor="let user of users$ | async">
    <p>{{ user.id }}</p>
    <p>{{ user.name }}</p>
    <p>{{ user.age }}</p>
    <br>
</div> -->
<div class="page-content">
    <login-card></login-card>
</div>