<!-- <navbar></navbar>
<router-outlet></router-outlet> -->

<!-- <h1>Grid Basics</h1> -->
<div class="container">
    <div class="box" id="first">
        <p>first</p>
    </div>
    <div class="box" id="second">
        <p>second</p>
    </div>
    <!-- <div class="box" id="third">
        <p>third</p>
    </div>
    <div class="box" id="fourth">
        <p>fourth</p>
    </div>
    <div class="box" id="fifth">
        <p>fifth</p>
    </div>
    <div class="box" id="sixth">
        <p>sixth</p>
    </div>
    <div class="box" id="seventh">
        <p>seventh</p>
    </div>
    <div class="box" id="eight">
        <p>eight</p>
    </div>
    <div class="box" id="nineth">
        <p>nineth</p>
    </div>
    <div class="box" id="tenth">
        <p>tenth</p>
    </div> -->
</div>

<!-- <div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni labore ut aspernatur fugit alias. Aliquam animi
        porro veritatis qui sunt minus sapiente, consequuntur atque nisi dicta facilis deleniti delectus facere!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore odit, assumenda aperiam nostrum suscipit odio
        itaque. Praesentium dolorum, culpa, sunt quod ad voluptatem voluptate dignissimos quas, repellat sint est eius?
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni labore ut aspernatur fugit alias. Aliquam animi
        porro veritatis qui sunt minus sapiente, consequuntur atque nisi dicta facilis deleniti delectus facere!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore odit, assumenda aperiam nostrum suscipit odio
        itaque. Praesentium dolorum, culpa, sunt quod ad voluptatem voluptate dignissimos quas, repellat sint est eius?
    </p>
</div> -->

<!-- Challenge #1
<div class="container">
    <card [title]="'Xbox Series S'" [price]="'$200'"></card>
    <card [title]="'Xbox Series X'" [price]="'$400'"></card>
    <card [title]="'Playstation 5'" [price]="'$500'"></card>
</div> -->

<!-- Challenge #2
<div class="container">
    <header class="header">THIS IS OUR PAGE HEADER</header>
    <nav class="navbar">THIS IS OUR NAVBAR</nav>
    <main class="main">THIS IS THE MAIN PAGE CONTENT</main>
    <footer class="footer">THIS IS OUR PAGE FOOTER</footer>
</div> -->

<!-- Challenge #3
<div class="container">
    <div class="box">1</div>
    <div class="box">2</div>
    <div class="box">3</div>
    <div class="box">4</div>
    <div class="box">5</div>
    <div class="box">6</div>
</div> -->

<!-- Challenge #4
<div class="container">
    <div class="box" style="background-color: #BA68C8;">1</div>
    <div class="box" style="background-color: #7B1FA2;">2</div>
    <div class="box" style="background-color: #BA68C8;">3</div>
    <div class="box" style="background-color: #42A5F5;">4</div>
    <div class="box" style="background-color: #1976D2;">5</div>
    <div class="box" style="background-color: #42A5F5;">6</div>
</div> -->