<div class="about-container">
    <img src="{{ aboutImage.url }}" alt="{{ aboutImage.name }}" >
    <h1>About Us</h1>
    <p>
        Introducing Mirval Systems, a cutting-edge startup company revolutionizing the software development industry.
        With a keen eye for detail, Mirval Systems is dedicated to developing software systems that go beyond the
        competition. We understand the frustration customers face when essential features are overlooked or neglected,
        and we're here to bridge that gap.
    </p>
    <p>
        At Mirval Systems, professionalism and client satisfaction are at the core of our values. We prioritize open
        communication, working closely with our clients to understand their objectives and deliver exceptional results.
        Our team of talented developers is passionate about pushing the boundaries of software development, bringing
        innovative ideas to life, and driving success for our clients.
    </p>
    <p>
        Join us on this exciting journey as we reshape the software landscape, one detail at a time. Experience the
        difference with Mirval Systems, where our commitment to excellence sets us apart.
    </p>
</div>